<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class = "section">
		<div class = "photo-1" ><img src="images/anna-1.jpg" alt="Anna Sperkach" ></div>
		<div class = "section_in-section">
			<div class = "content-1"></div>
			<div class = "content-2">
				<h1 class = "blocktext">Анна Сперкач</h1>
				<h3>Студентка групи ІС-01</h3>
				<br><hr><br>
				<h3>Про себе:</h3>
				<h4>Займаюсь UI/UX дизайном, фотошоп, комп. графіка це моя темка)</h4> 
				<h4>Вже на 3-му курсі ФІОТ, з хобі гітара та ігри✌️ А тепер розповідайте про себе;)</h4>
				<br><br><br>
				<h4>Щоб перейти на початкову сторінку, натисніть <a href="/">тут</a></h4>
			</div>
		</div>
		<div class = "photo-2"><img src="images/anna-2.jpg" alt="Anna Sperkach" ></div>
	</div>
	<div class = "footer"></div>
</body>
</html>